<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.ntutn.readview">

    <application>
        <activity android:name=".BreakReadTestActivity" />
        <activity android:name=".ReadTestActivity" />
    </application>

</manifest>