<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.ntutn.novelrecommend">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_treasure"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config_debug"
        android:roundIcon="@mipmap/ic_launcher_treasure_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Novelrecommend">
        <activity
            android:name=".ui.activity.DebugHelperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.About" />
    </application>

</manifest>