<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.ntutn.setting">
    <application>
        <activity
            android:name="top.ntutn.setting.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"/>
    </application>
</manifest>